@font-face {
    font-family:'logostile' ;
    src: url(/css/font-files/Logostile.ttf);
}
@font-face {
    font-family: 'garet';
    src: url(/css/font-files/garet/Garet-Book.ttf);
}
html {
    min-height: 100%;
}
body {
    background: linear-gradient(to bottom right, deepskyblue, white);
    font-family: 'garet';
    color: white;
    display: grid;
    grid-template-areas: 
        'header header header header header'
        'navi main main main main'
        'navi main main main main';            
    gap: 20px;
}
#navigation {
    color: deepskyblue;
    width: 200px;
    height: fit-content;
    text-align: left;
    grid-area: navi;
    margin: 0 auto;
}
nav ul {
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-direction: column;
}
nav li {
    background-color: white;
    margin: 3px 0;
    width: 150px;
    border-radius: 5px;
    box-sizing: border-box;
    padding-left: 10%;
}
a {
    text-decoration: none;
    color: inherit;
}
@media (prefers-color-scheme: dark) {
    body {
        background: linear-gradient(to bottom right, midnightblue, black);
    }
    #navigation {
        color: white;
    }
}
h1, h2, h3 {
    font-family: logostile;
}
#site-title {
    font-family: logostile;
    letter-spacing: 3px;
    grid-area: header;
}
#main {
    grid-area: main;
}
