@font-face {
    font-family:'logostile' ;
    src: url(../css/font-files/Logostile.ttf);
}
@font-face {
    font-family: 'garet';
    font-weight: normal;
    src: url(../css/font-files/garet/Garet-Book.ttf);
}
@font-face {
    font-family: 'garet';
    font-weight: bold;
    src: url(../css/font-files/garet/Garet-Heavy.ttf);
}
:root {
    --bg: white;
    --center: white;
    --garet: 'garet', sans-serif;
    --logostile: 'logostile', sans-serif;
    --sidebar: white;
    --textmain: black;

    --acc1: #3851a3;
    --acc2: #269cf7;
    --acc15: rgba(56, 81, 163, 0.1);
    --acc25: rgba(38, 156, 247, 0.1);
}
*, *::after, *::before {
    box-sizing: border-box;
    max-width: 100%;
}
*::selection {
    background-color: var(--acc2);
}
.mobile-only {
    display: none;
}
body {
    box-sizing: border-box;
    align-content: start;
    background-color: var(--bg);
    color: var(--textmain);
    display: grid;
    font-family: var(--garet);
    gap: 20px;
    grid-template-columns: auto 1fr ;
    grid-template-rows: auto 1fr auto;
    margin: auto;
    min-height: 100vh;
    width: 95%;
    grid-template-areas: 
        'header header header header'
        'navi main main navi2'
        'ft ft ft ft';
}
li {
    list-style-type: square;
}
.navigation {
    background: var(--sidebar);
    border: 1px solid var(--textmain);
    border-radius: 5px;
    margin: 0;
    text-align: left;
    width: 100%;
    height: fit-content;
}
#navigation {
    grid-area: navi;
    margin-left: 10px;
    justify-self: center;
}
#secondary-nav {
   grid-area: navi2;
   margin-right: 10px;
   justify-self: center;
   width: 150px;
   font-size: 0.75rem;
    padding: 10px;
}
.navigation ul {
    display: flex;
    flex-direction: column;
    padding-left: 0;
}
.navigation li {
    background-color: var(--sidebar);
    list-style-type: none;
    border-radius: 5px;
    box-sizing: border-box;
    margin: 3px 0;
    padding-left: 10%;
    width: 150px;
}
a, footer a{
    color: var(--textmain);
    text-decoration: none;
    transition: 0.3s;
}
.arrow-anchor:hover {
    padding-left: 5px;
}
nav .active::before, nav .active::after {
    content: '_';
}
nav .active {
    font-style: italic;
}
nav .active:hover {
    color:inherit;
    cursor: default;
    text-shadow: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: logostile;
}
header {
    grid-area: header;
}
#site-title {
       font-family: logostile;
       letter-spacing: 3px;
       padding-left: 1rem;
   }
#site-title a {
    color: var(--textmain);
    text-shadow: -2px 2px var(--acc2);
    transition: 0.3s;
}
main {
    background-color: var(--center);
    border: 1px solid var(--textmain);
    border-radius:5px;
    grid-area: main;
    justify-self: center;
    margin: auto ;
    margin-top: 0;
    padding: 20px;
    width: 95%;
}
.log {
    list-style-type: square;
}
footer {
    font-size: small;
    grid-area: ft;
    padding: 2em;
    text-align: center;
}
a:hover{
    color: var(--acc2);
    text-shadow: 0px 1px var(--sidebar);
}
.small {
    font-size: small;
}
.highlight {
    background-color: var(--sidebar);
}

hr {
    background-color: var(--textmain);
    border: none;
    height: 1px;
}
/* zonelets styling */
#postTags, #footer{
    text-transform: lowercase;
}
#footer {
    font-size: small;
}
.zonelets a {
    color: var(--acc2)
}
.zonelets p a {
    color: var(--textmain);
}
.zonelets a:hover, .zonelets p a:hover {
    color: var(--acc2);
    text-shadow: 0 1px var(--sidebar);
}
#tagfooter {
    display: flex;
}
#tagfooter a {
    margin-right:10px;
}
@media (max-width: 768px) {
    body {
        display: block;
    }
    .mobile-only {
        display: initial;
    }
    #site-title {
        padding-left: 1rem;
    }
    .navigation {
        height: fit-content;
        margin: 1em 0!important;
        text-align: center;
        width: 1000vw;
    }
    .navigation ul{
        column-gap: 0.5em;
        display: flexbox;flex-direction: row;
        padding-left: none;
    }
    .navigation li {
        flex-grow: 1;
        height: max-content;
        padding-left: 0;
    }
    main {
        margin: auto;
        position: relative;
        top: 0;
        width: 100vw;
    }
    #secondary-nav {
        display: none;
    }
    footer {
        width: initial;
    }
}
@media (prefers-color-scheme: dark) {
    :root {
        --bg: black;
        --center: black;
        --sidebar: black;
        --textmain: white;
    }
}
